.MuiDataGrid-root {
  border: none !important
}

.MuiDataGrid-root .MuiDataGrid-columnHeaderMoving {
  display: none !important;
}

.MuiDataGrid-root .MuiDataGrid-footer {
  display: none !important;
}